<h1>
Authors
<small>
<%= link_to "New author", new_author_path %>
</small>
</h1>

<%= will_paginate %>
<% @authors.each do |author| %>

    <h3><%= link_to author.name, author_path(author.id) %></h3>

<% end %>
