<h1>
My Account
<small>
  <%= link_to "Edit User", edit_user_path(@user.id) %>
</small>
</h1>

<% if equal_to_current_user? @user %>
  <p>Name: <%= @user.name %></p>
  <p>Email: <%= @user.email %></p>
<% else %>

<h3>Nice Try.</h3>

<% end %>
