<aside>
  <h3>Recommended For You</h3>
  <% if session["book_id"].present? %>
    <%= render Book.find_by(id: session["book_id"]) %>
  <% else %>
    <%= render Book.sample %>
  <% end %>
</aside>

<div class="book-selections">
  <%= render 'book', book: nil %>
  <%= render @books %>
</div>
